* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

header {
    margin-top: 15px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
}

.gid {
    color: #000;
    display: block;
}

.nav-imgs img {
    width: 25px;
    height: 25px;
}

.nav-logo {
    margin-right: 80px;
}

.nav-links {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    width: 135px;
}

.nav-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-imgs img {
    margin-left: 25px;
}

.background {
    margin-top: 15px;
    background-image: url(/img/index/backgorund.png);
    height: 590px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-container {
    max-width: 95%;
    width: 1300px;
    margin: auto;
}

.background-title {
    padding-top: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    width: 763px;
    line-height: 44px;
    color: #ffffff;
}

.background-btn {
    width: 246px;
    background: #b9934c;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    behavior: url(border-radius.htc);
    height: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.up {
    margin-top: 50px;
}

.nav-imgs img {
    width: 25px;
    height: 25px;
}

.up-container {
    width: 95%;
    margin: auto;
}

.up-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.up-flex {
    display: flex;
    justify-content: space-between;
}

.popular {
    margin-top: 50px;
}

.popular-title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.popular-container {
    max-width: 1300px;
    width: 95%;
    margin: auto;
}

.popular-cards {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.popular-card {
    margin-left: 35px;
    width: 191px;
    height: 268px;
    padding: 10px;
    text-align: center;
}

.popular-card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.popular-card-price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

footer {
    margin-top: 30px;
}

.footer-container {
    margin: auto;
    width: 95%;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.subscribe-inp {
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
}

.subscribe-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
}

.size-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.size-num {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.size-num span {
    margin-left: 25px;
}

.colors {
    margin-top: 30px;
}

.color-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.colors-title {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.colors-title span {
    margin-left: 25px;
}

.popular-container {
    max-width: 1200px;
}

footer {
    margin-top: 120px;
    margin-bottom: 50px;
}

.footer-container {
    margin: auto;
    width: 95%;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.subscribe-inp {
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
}

.subscribe-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}