* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

header {
    margin-top: 15px;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.nav-imgs img {
    width: 25px;
    height: 25px;
}

.nav-logo {
    margin-right: 80px;
}

.gid {
    color: #000;
    display: block;
}

.nav-links {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    width: 135px;
}

.nav-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-imgs img {
    margin-left: 25px;
}

.store {
    margin-top: 50px;
}

.store-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.store-nav {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.store-item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-item-container {
    width: 95%;
    margin: auto;
}

.store-item-p1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-card img {
    width: 191px;
    height: 268px;
}

.item-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.item-price {
    font-style: normal;
    font-weight: 400;
    font-size: px;
    line-height: 18px;
    color: #000000;
    margin-top: 30px;
}

.sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 86px;
    background: #9f9f9f;
    border: 1px solid #ffffff;
    padding: 25px;
}

.sum span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}

.book {
    border: none;
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    width: 300px;
    cursor: pointer;
    height: 50px;
}

.popular {
    margin-top: 50px;
}

.popular-title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.popular-container {
    max-width: 1300px;
    width: 95%;
    margin: auto;
}

.popular-cards {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.popular-card {
    margin-left: 105px;
    padding: 10px;
    text-align: center;
}

.popular-card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.popular-card-price {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.popular-flex {
    display: flex;
}

.twin-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 30px;
}

footer {
    margin-top: 120px;
    margin-bottom: 50px;
}

.footer-container {
    margin: auto;
    width: 95%;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.subscribe-inp {
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
}

.subscribe-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}