* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

header {
    margin-top: 15px;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}

.gid {
    color: #000;
    display: block;
}

.nav-imgs img {
    width: 25px;
    height: 25px;
}

.nav-logo {
    margin-right: 80px;
}

.nav-links {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    width: 135px;
}

.nav-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-imgs img {
    margin-left: 25px;
}

.tab {
    margin-top: 50px;
}

.tab-container {
    width: 95%;
    margin: auto;
}

.tab-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.tab-p1 {
    display: flex;
    flex-direction: column;
}

.tab-p1 img {
    margin-top: 30px;
}

.tab-p3-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 30px;
}

.tab-p3-price {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-top: 20px;
}

.tab-p3-color {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.tab-p3-color span {
    margin-right: 10px;
}

.tab-p3-size {
    margin-top: 30px;
}

.tab-path-title {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.sizes {
    margin-top: 20px;
}

.sizes span {
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    behavior: url(border-radius.htc);
    padding: 5px 10px;
}

.to-store {
    margin-top: 30px;
    width: 433px;
    height: 59px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    behavior: url(border-radius.htc);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    cursor: pointer;
    color: #000000;
}

.size-button {
    height: 48px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    behavior: url(border-radius.htc);
    margin-top: 30px;
    font-size: 29px;
    padding: 0 68px 0 38px;
    position: relative;
    cursor: pointer;
}

.size-button::after {
    content: '';
    background: url('../img/tab/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
    height: 30px;
}

.size {
    margin-top: 50px;
}

.size-container {
    width: 95%;
    margin: auto;
}

.size-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    width: 1241px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #000000;
}

footer {
    margin-top: 120px;
    margin-bottom: 50px;
}

.footer-container {
    margin: auto;
    width: 95%;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.subscribe-inp {
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
}

.subscribe-btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 30px;
    behavior: url(border-radius.htc);
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}